<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
	    * {
	   margin: 0;
	   padding: 0;
	  }
	  .imgbox {
	   display: grid;
	   height: 100%;
	  }
	  .center-fit {
	   max-width: 100%;
	   max-height: 100vh;
	   margin: auto;
	  }
    </style>
  </head>
  <body>
  	<h1> Créditos </h1>
    <h2> Javier Sánchez-Blanco Boyer </h2>
    <p> Aquí debería haber una foto. </p>
    <div class="imgbox">
    	<img class="center-fit" src="/images/RISK.jpg"/>
    </div>
    <p> Y, de hecho, la hay. </p>
  </body>
</html>